@import "https://fonts.googleapis.com/css?family=Raleway";
@import "https://slow.github.io/dark-discord/src/source.css";
:root, .theme-light, .theme-dark {
   --border-color: #333 !important;
   --font: Whitney !important;
   --tint: #a4b84d !important;
   --title-gradient: linear-gradient(to right, #37b1da 0, #c948cd 50%, #cce335 100%) !important;
}

#app-mount {
   box-shadow: 0 0 0 1px var(--border-color), 0 0 0 4px #282828, 0 0 0 5px var(--border-color), 0 0 0 6px #0a0a0a;
   font-family: var(--font) !important;
   height: calc(100vh - 12px);
   left: 6px;
   top: 6px;
   width: calc(100vw - 12px);
}

.winButton-iRh8-Z {
   top: 2px !important;
}

.wordmark-2iDDfm {
   font-family: 'Raleway' !important;
   opacity: 1;
}

.wordmark-2iDDfm::before {
   background-color: transparent;
   color: var(--text-normal);
   content: 'game';
   display: inline-block;
   font-size: 14px;
   height: auto;
   left: 12px;
   position: fixed;
   top: 14px;
   z-index: 1000;
}

.wordmark-2iDDfm::after {
   background-color: transparent;
   color: var(--tint);
   content: 'sense';
   display: inline-block;
   font-size: 14px;
   height: auto;
   left: 50px;
   position: fixed;
   top: 14px;
   z-index: 1000;
}

.wordmark-2iDDfm svg {
   display: none;
}

.typeWindows-1za-n7 {
   background: var(--title-gradient);
   border-bottom: 1px solid var(--border-color) !important;
   box-shadow: inset 0 -23px 0 0 var(--background-tertiary), inset 0 -24px 0 0 rgba(0, 0, 0, 0.5);
   height: 26px;
   margin-left: 1px;
   margin-right: 1px;
   margin-top: 1px !important;
   opacity: 1;
   z-index: 50;
}

.scrollableContainer-2NUZem {
   border: 1px solid var(--border-color);
   border-radius: 0;
}

.guild-1EfMGQ.active .guildInner-3DSoA4 {
   background: var(--tint) !important;
}

.container-3baos1, .container-3baos1 .avatar-SmRMf2 {
   border-bottom: none;
   border-left: none;
   border-top: 1px solid var(--border-color);
}

.container-1giJp5 {
   border-bottom: none;
   border-left: none;
}

.privateChannels-1nO12o {
   border: 1px solid var(--border-color);
   border-bottom: none;
   border-left: none;
   border-top: none;
}

.panels-j1Uci_ {
   border-right: 1px solid var(--border-color);
   border-top: 1px solid var(--border-color);
}

.drawerSizingWrapper-17Mss4 {
   border: 1px solid var(--border-color);
   border-radius: 10px;
}

.userPopout-3XzG_A {
   -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px var(--border-color) !important;
   box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px var(--border-color) !important;
}

.typeMacOS-3EmCyP {
   border-right: 1px solid var(--border-color);
   width: 71px !important;
}

.searchBar-6Kv8R2 {
   border-bottom: 1px solid var(--border-color) !important;
   height: 47px !important;
}

.winButtonClose-1HsbF-:hover, .winButtonMinMax-PBQ2gm:hover {
   background-color: transparent;
   color: #fff !important;
}

.container-PNkimc, .platform-win .scroller-2TZvBN, .sidebarRegionScroller-3MXcoP, .platform-osx .scroller-2TZvBN {
   border-right: 1px solid var(--border-color);
}

.membersWrap-2h-GB4, .nowPlayingColumn-2sl4cE {
   border-left: 1px solid var(--border-color);
}

.container-1r6BKw.themed-ANHk51, .clickable-2ap7je .header-2o-2hj {
   border-bottom: 1px solid var(--border-color);
}